/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
 @import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

 body {
     font-family: 'Azeret Mono', monospace;
     font-optical-sizing: auto;
     font-weight: normal;
     font-style: normal;
     margin: 0;
     padding: 0;
     padding-left: 25%;
     padding-right: 25%;
     background-color: #392F5A;
     color: rgb(255, 248, 240);
     font-size: 1em;
     text-align: justify;
     line-height: 1.5em;
 }
 
 a:link {
     color: #F4D06F;
     text-decoration: #5FA8D3 underline;
 }
 a:link:hover, a:link:focus  {
     background-color: #5FA8D3;
     color: #392F5A;
     text-decoration: none;
 }
 
 a:visited {
     color: #F4D06F;
     text-decoration: #F4D06F underline;
 }
 
 a:visited:hover, a:visited:focus  {
     background-color: #F4D06F;
     color: #392F5A;
     text-decoration: none;
 }
 
 img {
     max-width: 100%;
     height: auto;
 }
 
 h1 {
     font-weight: bold;
     font-size: 2em;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
     line-height: 1.2em;
 }
 
 h2 {
     font-weight: bold;
     border-bottom: white 1px solid;
     padding-top: 0.5em;
     padding-bottom: 0.5em;
     margin-top: 0.5em;
     margin-bottom: 0.5em;
 }
 @media screen and (max-width: 768px) {
     body {
         padding-left: 5%;
         padding-right: 5%;
     }
 }
 
 
 
 .blue-link {
     text-decoration: #5FA8D3 underline !important;
     color: #5FA8D3 !important;
 }
 
 .blue-link:hover, .blue-link:focus{
     background-color: #5FA8D3 !important;
     color: #392F5A !important;
     text-decoration: none !important;
 }
 
 .large-image {
     width: 85%;
     height: auto;
     display: block;
     margin: 0 auto;
 }
 
 .pixel-art {
     image-rendering: pixelated;
 }
 
 .centered {
     text-align: center;
 }
 
 .right {
     text-align: right;
 }
 ul {
     list-style-type: none;
     padding-left: 0;
 }
 
 li {
     display: flex;
     align-items: center;
 }
 
 ul li::before {
     
     content: url('/resources/list.svg');
     margin: 8px;
     display: inline;
     align-self: center; /* Ensures icon is centered in flex container */
     width: 1em; /* Adjust width if necessary */
     height: 1em; /* Adjust height if necessary */
     vertical-align: middle;
     transform: scale(0.8) translate(0, .3em);
 }

 #guesses {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between each guess */
}

#example {
    display: flex;
    flex-direction: column;
    gap: 10px; /* Adds space between each guess */
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.word-guess {
    display: flex;
    justify-content: space-between; /* Aligns items evenly */
    align-items: center; /* Centers items vertically */
    padding: 6px;
    border-radius: 5px;
    width: 100%;
}

.word-guess span {
    flex: 1; /* Makes each span take up equal space */
    text-align: center; /* Centers text in each span */
}

/* If you want the first column (word) to be left-aligned */
.word-guess .word {
    text-align: left;
    font-weight: bold;
}

/* If you want the last column (percentage) to be right-aligned */
.word-guess .percentage {
    text-align: right;
}


#example-guess {
    border-radius: 0;
    border-bottom: white 1px solid;
}

.selected {
    background-color: #5FA8D3;
    color: #392F5A;
}