
.input {
  border: 1px solid white;
  padding: 8px 22px;
  font-size: 0.8rem;
  outline: none;
  overflow: hidden;
  background-color: #392F5A;
  border-radius: 8px;
  transition: all 0.5s;
  font-family: "azeret Mono", monospace;
}

.input:focus {
  border: 1px solid #4A9DEC;
  background-color: #392F5A;
}

button {
  cursor: pointer;
}